@import url(//fonts.googleapis.com/css?family=Open+Sans:400);

@font-face {
    font-family: 5yearsoldfont;
    src: 5yearsoldfont.medium.tff;
}

/* formatting text in nav bar */
.nav.navbar-nav.navbar-right {
    margin-right: 2em;
}

/* nav-bar text */
.nav.navbar-nav.navbar-right li a[class="white"] {
    color: white;
    padding-left: 25px;
}

/* drop down menu text */
.dropdown-menu li a {
    color: black;
}

.dropdown-content {
    display: none;
}

/* headers */
.container.text-center {
    display: none;
    margin: auto;
    text-align: center;
    max-width: 20cm;
    padding-bottom: 3em;
    font-family: "5yearsoldfont";
    font-weight: 300;
}

/* contact page line 1*/
.form-inline {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

/* contact page line 2 */
#form-inline-2 {
    padding-right: 4.75cm;
}

/* contact page line 3 */
#form-inline-3 {
    padding-right: 7.75cm;
    padding-bottom: 40px;
}

form label {
    font-weight: normal;
}

/* change input box to input line */
input[type=text] {
    border-radius: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #585858;
    opacity: 0.5
}

/* input fields */
.form-control.mx-sm-3 {
    border-radius: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #585858;
    opacity: 0.5
}

/* submit button */
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
    border-radius: 0;
}


/* a new generation of penn labs */
h3 {
    padding-top: 0px;
    margin-top: 0;
}

/* when 2meat */
iframe {
    width: 100%;
    height: 500px;
    padding-bottom: 0;
}

.pennlabs-logo {
    margin-top: 1.1cm;
    text-align: center;
}

.col-sm-6 {
    font-family: "5yearsoldfont";
    /*margin: auto;*/
}